* {
    margin: 0px;
    padding: 0px;
}
#container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#canvas1 {
    border: 2px solid white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    cursor:grab;
}
#instructions{
    border: 2px solid white;
    color:white;
    font-size:3em;
    width:80%;
}