:root{
    --bColor:skyblue;
    --tColor:white;
}
*{
    margin:0px;
    padding:0px;
}
body{
    background-image:url(images/back1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-color: var(--bColor);
    font-size: 10px;
    font-family: 'comic sans ms';
}
.flex{
    display:flex;
    align-items:center;
    justify-content: center;
}
header{
    position:absolute;
}
#navbar{
    position: fixed;
    top:0;
    height: 70px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.664);
    border-bottom:2px solid var(--tColor);
    padding:0 10px;
    justify-content: space-between;
}
#navbar img{
    height: 70px;
}
#title{
    margin-right:5% ;
}
#title a,#game a,#troupe a{
    font-size: 3em;
    text-decoration: none;
    color:var(--tColor);
}
#footer{
    position: fixed;
    bottom:0px;
    height: 60px;
    width:100%;
    background-color:rgba(0, 0, 0, 0.664);
    border-top:2px solid var(--tColor);
    justify-content: space-between;
}

.button{
    border:2px solid var(--tColor);
    padding:5px 10px;
    margin: 10px;
    font-size:2em;
    text-decoration: none;
    color:var(--tColor);
    transition: 0.3s ease-in-out;
}
.button:hover{
    background: var(--tColor);
    color: black;
    border:2px solid var(--bColor);
}

.name{
    padding:5px 10px;
    margin: 10px;
    font-size:20px;
    color:var(--tColor);
}

@media (max-width:700px){
    #title a,#game a,#troupe a{
    font-size: 2em;
    text-decoration: none;
    color:var(--tColor);
}
.button{
    font-size:1.7em;
}
}

@media (max-width:470px){
    #title a,#game a,#troupe a{
    font-size: 1.7em;
    text-decoration: none;
    color:var(--tColor);
}
.button{
    font-size:1.5em;
}
}