        .form{
            position:fixed;
            top:20vh;
            width: 99vw;
            flex-flow: row wrap;
            justify-content: center;
        }
        form{
            border:5px solid white;
            width: 40vw;
            padding: 20px;
        }

        #inputForm{
            flex-flow: column wrap;
            justify-content: space-evenly;
            align-items: flex-start;
        }

        #inputForm label{
            color:white;
            font-size:2.5em;
        }

        #inputForm input{
            font-size:2em;
            width: inherit;
            border:3px solid black;
            margin:5px 10px;
        }
        #inputForm input[type='submit']{
            background-color:black;
            color:white;
            border:3px solid white;
            padding: 5px 10px;
            width: inherit;
        }

        #inputForm input[type='submit']:hover{
            background-color:white;
            color:black;
            border:3px solid rgb(57, 126, 167);
        }
